{% extends "base.html" %}

{% block title %}Estrategias - Trading Bot{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Precio de Bitcoin (USD)</h5>
                <p class="card-text">{{ bitcoin_price }}</p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Último bloque de Ethereum</h5>
                <p class="card-text">{{ latest_block }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
